.page {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.page header {
    z-index: 1;
    position: fixed;
    top: -0%;
    left: 0;
    font-family: var(--header-font);
    font-size: clamp(8rem, 13vw, 20rem);
    line-height: 1;
}

.page header h1 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page footer {
    font-size: clamp(23rem, 30vw, 30rem);
    bottom: -25%;
    right: 8%;
    z-index: 1;
    position: fixed;
}

.background {
    opacity: 0;
    transition: opacity 1s ease-out 0.5s;
}

.backgroundLoaded {
    opacity: 0.03;
}

.container {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 1px solid red; */
    width: 1200px; 
    max-width: 80vw;
    min-height: 500px;
    height: 700px;

    font-family: var(--monospace-font);
}

.details {
    /* border: 1px solid blue; */
    display: flex;
    width: 100%;
    gap: 5%;
}

.details a {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.5rem;
    color: var(--main-green-color);
}

.details a p {
    color: var(--main-dark-color);
    transition: all 0.3s ease;
}

.details a p:hover {
    color: var(--main-green-color);
}

.detail1 {
    opacity: 0;
    transform: translateX(-10px);
    transition: all 1s ease-out 1.5s;
}

.detail2 {
    opacity: 0;
    transform: translateX(-10px);
    transition: all 1s ease-out 2s;
}

.messageStatus {
    position: absolute;
    top: -8%;
    animation: fadeIn 0.5s ease-out; 
    color: var(--main-green-color)
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.formContainer {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 0.5;
}

.formTitle {
    font-size: 1.5rem;
    opacity: 0;
    transform: translateX(-10px);
    transition: all 1s ease-out 2.5s;
}

.form {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transform: translateX(10px);
    transition: all 1s ease-out 2.5s;
    position: relative;
}

.inputGroup {
    position: relative;
}

.inputGroup label {
    position: absolute;
    opacity: 0;
}

.inputGroup input, .inputGroup textarea {
    font-family: var(--monospace-font);
    font-size: 1rem;
    z-index: 3;
    width: 50%;
    min-width: 500px;
    border:none;
    background-color: var(--main-dark-color);
    color: var(--main-light-color);
    padding: 10px;
    border-radius: 10px;
}

.inputGroup textarea {
    resize: none;
    height: 150px;
}

.buttonContainer {
    display: flex;
    gap: 10px;
}

.ldsRing {
    display: none;
    position: relative;
    height: 100%;
    aspect-ratio: 1 /1;
}

.loadingRing {
    display: block;
}

.ldsRing div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    height: 70%;
    aspect-ratio: 1 /1;
    margin: 8px;
    border: 5px solid rgb(49, 190, 61);
    border-radius: 50%;
    animation: ldsRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #888888 transparent transparent transparent;
}

.ldsRing div:nth-child(1) {
    animation-delay: -0.45s;
}

.ldsRing div:nth-child(2) {
    animation-delay: -0.3s; 
}

.ldsRing div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes ldsRing {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  

.detailLoaded {
    opacity: 1;
    transform: translateX(0px);
}

@media screen and (max-width: 799px) {
    .page header {
        font-size: clamp(5rem, 13vw, 20rem);
    }

    .page footer {
        font-size: clamp(15rem, 30vw, 30rem);
        bottom: -10%;
        right: 0%;
    }

    .container {
        max-width: 90vw;
    }

    .details {
        flex-direction: column;
        gap: 20px;
    }

    .inputGroup input, .inputGroup textarea {
        min-width: 100%;
    }

    .buttonContainer {
        align-items: center;
        justify-content: center;
    }

    .details a, .formTitle {
        font-size: 1.2rem;
    }
}