.page {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.page header {
    z-index: 1;
    position: fixed;
    top: -0%;
    left: 0;
    font-family: var(--header-font);
    font-size: clamp(8rem, 13vw, 20rem);
    line-height: 1;
    color:var(--main-dark-color)
}

.page header h1 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page footer {
    font-size: clamp(23rem, 30vw, 30rem);
    bottom: -25%;
    right: 8%;
    z-index: 1;
    position: fixed;
    color:var(--main-dark-color)
}

.background {
    opacity: 0;
    transition: opacity 1s ease-out .5s;
    /* animation: backgroundAnimation 2s linear 1s normal forwards;  */
}

.backgroundLoaded {
    opacity: 0.03;
}

/* @keyframes backgroundAnimation {
    0% { opacity: 0%; }
    35% { opacity: .1; }
    65% { opacity: .1; }
    100% { opacity: 0.03 }
} */

.container {
    position: relative;
    /* border: 1px solid red; */
    z-index: 2;
    width: 950px;
    max-width: 75vw;
    height: 70%;
    min-height: 50vh;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tagline {
    width: 100%;
    font-size: 1.5rem;
    color: var(--main-green-color);
    font-family: var(--monospace-font);
    transform: translateX(-70px);
    opacity: 0;
    line-height: 2rem;
    transition: all 1s ease-out 1.5s;
}

.taglineLoaded {
    transform: translateX(-50px);
    opacity: 1;
}

.paragraphTop {
    font-family: var(--paragraph-font);
    opacity: 0;
    transform: translateX(-20px);
    transition: all 1s ease-out 2s;
    letter-spacing: 0.5px;
}

.paragraphBtm {
    font-family: var(--paragraph-font);
    opacity: 0;
    transform: translateX(20px);
    transition: all 1s ease-out 2s;
    letter-spacing: 0.5px;
}

.paragraphLoaded {
    opacity: 1;
    transform: translateX(0px);
}

.container section {
    width: 65%;
    line-height: 1.5rem;
}

.topText {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-self: flex-start;
}

.bottomText {
    align-self: flex-end;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.container aside {
    width: 35%;
    position: absolute;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.185) ;
}

.topImage {
    width: 100%;
    aspect-ratio: 1 / 1.1;
    transform: translate(50px, -10px);
    opacity: 0;
    bottom: 45%;
    right:0;

    transition: all 1s ease-out 2.5s;
}

.topImageLoaded {
    transform: translate(40px, 0px);
    opacity: 1;
}

.bottomImage {
    width: 100%;
    aspect-ratio: 1.25 / 1;
    transform: translate(-60px, 10px);
    opacity: 0;
    top: 62%;
    left: 0;
    transition: all 1s ease-out 2.5s;
}

.bottomImageLoaded {
    transform: translate(-50px, 0px);
    opacity: 1;
}